# node
node_modules/
npm-debug.log*
yarn-error.log*
yarn-debug.log*

# Expo
.expo/
dist/

# iOS
ios/Pods/
ios/build/

# Android
android/.gradle/
android/app/build/

# Env
.env

# Misc
.idea/
.vscode/
